# IDE and Editor Configurations
**/.idea/
.idea/
.vscode/
**/.vscode/
/.obsidian/

# System Files
.DS_Store
**/.DS_Store
.DS_Store?

# Cache and Build Artifacts
.cache/
site/
**/__pycache__/
*/__pycache__/
**/__pycache__
__pycache__/

# Node Modules
**/node_modules/
**/node_modules/**



 
