**/.idea/
.idea/
.vscode/
**/.vscode/
/.obsidian/
.DS_Store
**/.DS_Store
.DS_Store?
.cache/
site/
**/__pycache__/
*/__pycache__/
__pycache__
**/node_modules/
**/node_modules/**



 
